  <nav class ="blue lighten-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Blog</a>
      <%if user_signed_in?%>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/writes/new">NEW</a></li>
        <%= link_to "sign out", destroy_user_session_path, method: :delete %>
      </ul>
      <%else%>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li><%= link_to "sign in", new_user_session_path, class: 'post'%></li>
      </ul>
      <%end%>
    </div>
    
  </nav>


